streamlit==1.61.1
pandas==3.0.2
numpy==2.4.4
plotly==6.9.0
openpyxl==3.1.5
geopandas==1.1.4
shapely==2.1.2
matplotlib==3.10.8
contextily==1.7.1
rasterio==1.5.1
Pillow==12.1.1
reportlab==4.4.10
fonttools==4.63.0
